version: "3.7"
networks:
  vc-net:
    driver: bridge

services:
  engine1:
    depends_on:
      - redis
    build: . 
    image: channel-engine:test
    environment:
      - PORT=8081
      - TEST_CHANNELS=2
      - REDIS_URL=redis://redis:6379/
    networks:
      - vc-net
    ports:
      - 8081:8081
  engine2:
    depends_on:
      - redis
    build: . 
    image: channel-engine:test
    environment:
      - PORT=8082
      - TEST_CHANNELS=2
      - REDIS_URL=redis://redis:6379/
    networks:
      - vc-net
    ports:
      - 8082:8082
  redis:
    image: redis
    ports:
      - 6379:6379
    networks:
      - vc-net
  nginx:
    build: ./nginx_image
    image: nginx_custom:test
    networks:
      - vc-net
    depends_on:
      - engine1
      - engine2
    ports:
      - 8000:8000
